body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	width: 100%;
	height: 100vh;
	padding: 2em 4em;
}

button {
	margin: 1em;
	float: right;
}

input,
textarea {
	display: block;
	margin: 1em;
}

form {
	padding: 1em 2em;
}

.myHeader {
	text-align: center;
}

.postContainer {
	max-width: 90%;
	margin: 1em auto;
	padding: 2em;
}
